/* Resetear los márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    border: 1px solid #1f1e1e;
    border-radius: 5px;
    background-color: #382f2f;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.screen {
    grid-column: 1 / span 4;
    padding: 10px;
    background-color: #574242;
    text-align: right;
    border: 1px solid #704e4e;
    border-radius: 5px;
}

.btn {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos adicionales para los botones de operaciones, si es necesario */
